* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3333339c;
  color: white;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("./background.jpg");
  opacity: 0.3;
}

li {
  list-style-type: none;
}

main {
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.uppertext {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uppertext > span {
  font-size: 65px;
  font-family: "JetBrains Mono", monospace;
}

.guessfield {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.downsection {
  display: flex;
  flex-direction: column;
}

.titles {
  display: flex;
  width: 100%;
  margin-top: 100px;
}

.titles > span {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  aspect-ratio: 1/1;
  border: 1px solid white;
  background-color: #444;
}

.champion > span {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  aspect-ratio: 1/1;
  border: 1px solid white;
}

.champion {
  display: flex;
  width: 100%;
}

.champions {
  margin-bottom: 100px;
}

.img {
  width: 100%;
}

.zero {
  background-color: rgba(255, 0, 0, 0.5) !important;
}

.one {
  background-color: rgba(255, 255, 0, 0.5) !important;
}

.two {
  background-color: rgba(0, 128, 0, 0.5) !important;
}

.acceptbtn {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 29px 16px 29px 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.acceptbtn:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.acceptbtn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.acceptbtn:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.champinput {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 100%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.inputgroup {
  position: relative;
  display: flex;
  flex-direction: column;
}

.search {
  position: absolute;
  width: 100%;
  margin-top: 60px;
  max-height: 500px;
  background-color: #000;
  overflow-y: scroll;
}

.championsuggestion {
  display: flex;
  align-items: center;
}

.championsuggestion:hover {
  background-color: #ffffff1c;
  cursor: pointer;
}

.championimage {
  width: 50px;
}
